<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/admin-navbar.ejs') %>

    <main class="admin">
        <h3 class="dashboard mt-4 mb-2">User Data</h3>
        <hr class="border">
        <div class="container pb-5">
            <% if (users.length > 0) { %>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Avatar</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Profession</th>
                            <th scope="col">Country</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach((user) => { %>
                            <tr>
                                <td>
                                    <img 
                                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj7j9IDpZsbq4HghrNPneZustxYupRgrt0oQ&usqp=CAU" 
                                        alt="Users Avatar" 
                                        width="50" 
                                        height="50"
                                    >
                                </td>
                                <td><%= user.fname %> <%= user.lname %></td>
                                <td><%= user.username %></td>
                                <td><%= user.profession %></td>
                                <td><%= user.country %></td>
                                <td>
                                    <form 
                                        action="/api/user/delete" 
                                        method="post"
                                    >
                                        <button 
                                            class="btn btn-primary"
                                            name="deleteBtn"
                                            value="<%= user._id %>"
                                            type="submit"
                                        >
                                            Remove User
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            <% } else { %>
                <span class="text-center fw-bold">No Users to display</span>
            <% } %>
        </div>
    </main>
</body>
