<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/admin-navbar.ejs') %>

        <main class="admin">
            <h3 class="dashboard mt-4 mb-2">Dashboard</h3>
            <hr class="border">
            <div class="admin-grid row">
                <div class="admin-card col-lg-4 col-md-6 mx-3 my-2">
                    <div class="info">
                        <i class="fa fa-users"></i>
                        <div class="info-text">
                            10 Users
                        </div>
                    </div>
                </div>
                <div class="admin-card col-lg-4 col-md-6 mx-3 my-2">
                    <div class="info">
                        <i class="fa fa-book"></i>
                        <div class="info-text">
                            15 Courses
                        </div>
                    </div>
                </div>
                <div class="admin-card col-lg-4 col-md-6 mx-3 my-2">
                    <div class="info">
                        <%= hrs %>:<%= min %>:<%= sec %>
                        <br>
                        <div class="info-text">
                            <%= day %>.<%= month %>.<%= year %>
                        </div>
                    </div>
                </div>
                <div class="admin-card col-lg-4 col-md-6 mx-3 my-2">
                    <div class="info">
                        <i class="fa fa-globe"></i>
                        <div class="info-text">
                            <a href="/">Go to Page</a>
                        </div>
                    </div>
                </div>
                <div class="admin-card col-lg-4 col-md-6 mx-3 my-2">
                    <div class="info">
                        <i class="fa fa-list"></i>
                        <div class="info-text">
                            <a href="/allCourses">View Courses</a>
                        </div>
                    </div>
                </div>
                <div class="admin-card col-lg-4 col-md-6 mx-3 my-2">
                    <div class="info">
                        <i class="fa fa-newspaper-o"></i>
                        <div class="info-text">
                            <a href="/blog">View Blog Posts</a>
                        </div>
                    </div>
                </div>
                <div class="admin-card col-lg-4 col-md-6 mx-3 my-2">
                    <div class="info">
                        <i class="fa fa-plus"></i>
                        <div class="info-text">
                            <a href="/addCourse">Add Course</a>
                        </div>
                    </div>
                </div>
                <div class="admin-card col-lg-4 col-md-6 mx-3 my-2">
                    <div class="info">
                        <i class="fa fa-plus"></i>
                        <div class="info-text">
                            <a href="/addPost">Add Post</a>
                        </div>
                    </div>
                </div>
                <div class="admin-card col-lg-4 col-md-6 mx-3 my-2">
                    <div class="info">
                        <i class="fa fa-users"></i>
                        <div class="info-text">
                            <a href="/allUsers">View Users</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>