<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/admin-navbar.ejs') %>
        <div class="admin">
            <h3 class="dashboard mt-4 mb-2">Access & Update All Courses</h3>
            <hr class="border">
            <div class="admin-wrapper">
                <div class="course-wrapper">
                    <% videoData.forEach((video) => { %>
                    <form class="form-bt" action="/delete" method="post">
                        <div class="icons-2 pb-3">
                            <button class="btn btn-outline-danger">
                                <a href="/edit/<%= video._id %>" data-toggle="model">
                                    <i class="fa fa-edit" style="font-size: 30px; color: black;"></i>
                                </a>
                            </button>
                            <button name="deleteBtn" value="<%=video._id%>" type="submit" class="btn btn-outline-danger">
                                <i class="fa fa-trash" style="font-size: 30px; color: black;"></i>
                            </button>
                        </div>
                        <div class="img-div">
                            <video width="640" height="360" controls>
                                <source src="<%= video.url %>" type="video/mp4">
                            </video>
                        </div>
                        <span>
                            <%= video.createdAt %>
                        </span>
                        <div class="pb-5">
                            <h3 class="title-text fw-bold pt-5 pb-3">
                                <%= video.title %>
                            </h3>
                            <div class="desc">
                                <%= video.desc %>
                            </div>
                        </div>
                    </form>
                    <% }); %>
                </div>
            </div>
        </div>
    </body>
</html>