<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/admin-navbar.ejs') %>
        <div class="admin">
            <h3 class="dashboard mt-4 mb-2">Access & Update All Courses</h3>
            <hr class="border">
            <div class="admin-wrapper">
                <div class="course-wrapper">
                    <% videoData.forEach((video) => { %>
                        <form action="/courses/<%= video.filename %>?_method=DELETE" method="POST" class="pb-3">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-primary btn-lg p-2">Delete</button>
                        </form>
                        <a href="/courses/<%= video.filename %>/update" class="pb-3">
                            <button class="btn btn-primary btn-lg p-2">Update</button>
                        </a>
                        <div class="img-div">
                            <video width="640" height="360" controls>
                                <source src="<%= video.url %>" type="video/mp4">
                            </video>
                        </div>
                        <span>
                            <%= video.createdAt %>
                        </span>
                        <div class="pb-5">
                            <h3 class="title-text fw-bold pt-5 pb-3">
                                <%= video.title %>
                            </h3>
                            <div class="desc">
                                <%= video.desc %>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </body>
</html>