<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/admin-navbar.ejs') %>
        <div class="admin">
            <h3 class="dashboard mt-4 mb-2">Access & Update All Posts</h3>
            <hr class="border">
            <div class="admin-wrapper">
                <div class="course-wrapper">
                    <% posts.forEach((post) => { %>
                        <div class="flex-btn">
                            <div class="pb-3">
                                <form action="" method="POST" class="">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn btn-primary btn-lg p-2">Delete</button>
                                </form>
                            </div>
                            <div class="pb-3">
                                <a href="" class="">
                                    <button class="btn btn-primary btn-lg p-2">Update</button>
                                </a>
                            </div>
                        </div>
                        <div class="img-div">
                            <img src="" alt="Post image">
                        </div>
                        <span>
                            <%= post.createdAt %>
                        </span>
                        <div class="pb-5">
                            <h3 class="title-text fw-bold pt-5 pb-3">
                                <%= post.title %>
                            </h3>
                            <div class="desc">
                                <%= post.content %>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </body>
</html>