<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="container px-4">
        <!-- <div class="main"> -->
            <div class="blog-header mt-5 mb-5">Go-use Tech Blog</div>
            <div class="row mb-5 gx-5">
                <% if (posts.length > 0) { %>
                    <% posts.forEach((post) => { %>
                        <div class="fblog col-6 col-md-4 mb-4">
                            <div class="img-div">
                                <img src="<%= post.img %>" class="img-responsive"/>
                            </div>
                            <span class="date">
                                <%= post.createdAt %>
                            </span>
                            <br>
                            <br>
                            <div class="title">
                                <%= post.title %>
                            </div>
                            <div class="desc">
                                <p>
                                  <%= post.content.substring(0, 180) + "..." %>
                                  <a href="/blog/<%= post._id %>" style="color: red;">Read more.</a>
                                </p>
                            </div>
                        </div>
                    <% }) %>
                <% } else { %>
                <div style="margin: auto;">There are no blog posts to display...</div>
                <% } %>
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>