<%- include('./partials/head.ejs') %>

    <body>
        <div class="bg-light">
            <nav class="container navbar navbar-expand-lg navbar-light">
              <a class="navbar-brand" href="">
                <img class="logo mylogo" src="/images/gousetech.png" alt="logo" width="75">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- <form class="d-flex nav-item mx-auto" role="search">
                  <input class="form-control me-2" type="text" id="searchInput" placeholder="Search...">
                  <button class="btn btn-primary" type="submit" onclick="searchVideos()">
                    <i class="fa fa-search"></i>
                  </button>
                </form> -->
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <!-- <li class="nav-item">
                    <a class="nav-link" href="/courses">Dashboard</a>
                  </li>
                  <li class="nav-item">
                    <a id="signout-button" class="nav-link" href="/logout">Logout</a>
                  </li> -->
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj7j9IDpZsbq4HghrNPneZustxYupRgrt0oQ&usqp=CAU" alt="user profile" class="user-profile" width="50" height="50">
                    </a>
                    <div class="dropdown-menu custom-dropdown" aria-labelledby="userDropdown">
                      <a class="dropdown-item" href="#">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj7j9IDpZsbq4HghrNPneZustxYupRgrt0oQ&usqp=CAU" alt="user profile" class="user-profile" width="50" height="50">
                        <span class="user-profile-text fw-bold">
                          <%= firstName %> <%= lastName %>
                        </span>
                      </a>
                      <a class="dropdown-item p-2 pt-2 text-center user-profile-text" href="#">Manage your Account</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item user-profile-text" href="/api/course/">Dashboard</a>
                      <a class="dropdown-item user-profile-text" href="/auth/logout">Sign Out</a>
                    </div>
                  </li>
                </ul>
              </div>
            </nav>
        </div>
          
        <div id="searchResultsContainer">
            <!-- Search results will be dynamically populated here -->
        </div>
        <div class="container text-center px-4">
            <div class="course-header mt-5 mb-5 jumbotron" id="dynamic-heading">
                <h1></h1>
            </div>
            <div class="courses row mx-2">
                <% if (videoData.length > 0) { %>
                    <% videoData.forEach((video) => { %>
                        <div class="single-course col-lg-4 col-md-6 mb-5">
                            <div class="card">
                                <video src="<%= video.url %>" class="card-img-top" width="100%" height="225" controls></video>
                                <div class="card-body course-content">
                                    <h4 class="card-title fw-bold">
                                        <%= video.title %>
                                    </h4>
                                    <p class="card-text">
                                        <%= video.description %>
                                    </p>
                                    <div class="row mt-3">
                                        <span class="date col mt-3">
                                            <%= video.createdAt.toDateString() %>
                                        </span>
                                        <a href="/api/course/<%= video.filename %>" class="col btn btn-primary">View Course</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                <% } else { %>
                <div style="margin: auto;">There are no courses to display...</div>
                <% } %>
            </div>
        </div>
        <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-auth.js"></script>
        <script src="/views/JS/firebase-auth.js"></script>
    </body>
    <%- include('./partials/footer.ejs') %>
    <script>
        // Define an array of words to cycle through
        var words = ["Explore the best Courses with us...", "From the tech experts....", "All you need from Graphics, programming..."];
      
        // Get a reference to the jumbotron element
        var jumbotron = document.getElementById("dynamic-heading");
      
        // Define a function to update the heading text
        function updateHeading() {
          // Get a random word from the array
          var word = words[Math.floor(Math.random() * words.length)];
          
          // Set the heading text to the random word
          jumbotron.querySelector("h1").textContent = word;
        }
      
        // Call the updateHeading function initially
        updateHeading();
      
        // Call the updateHeading function every minute
        setInterval(updateHeading, 5000);


        // custom.js

        function searchVideos() {
            const query = document.getElementById('searchInput').value.trim();

            if (query === '') {
                // Clear the search results container if the query is empty
                document.getElementById('searchResultsContainer').innerHTML = '';
                return;
            }

        fetch(`/search?q=${encodeURIComponent(query)}`)
            .then(response => response.json())
            .then(searchResults => {
                const resultsContainer = document.getElementById('searchResultsContainer');
                resultsContainer.innerHTML = '';

                if (searchResults.length === 0) {
                    const noResultsMessage = document.createElement('p');
                    noResultsMessage.textContent = 'No results found.';
                    resultsContainer.appendChild(noResultsMessage);
                } else {
                    const ul = document.createElement('ul');

                    searchResults.forEach(result => {
                        const li = document.createElement('li');
                        const title = document.createElement('h3');
                        title.textContent = result.title;
                        const videoUrl = document.createElement('p');
                        const link = document.createElement('a');
                        link.href = result.url;
                        link.textContent = result.name;
                        videoUrl.appendChild(link);
                        li.appendChild(title);
                        li.appendChild(videoUrl);
                        ul.appendChild(li);
                    });

                    resultsContainer.appendChild(ul);
                }
            })
            .catch(error => {
                console.error('Error searching videos:', error);
                document.getElementById('searchResultsContainer').textContent = 'An error occurred while searching videos.';
            });
        }

    </script>
      