<%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    
    <div class="main">
      <div class="main-home">
        <h1 class="text">GO-USE TECH</h1>
        <P class="text">
          Welcome to our education and tech website, where we strive<br>
          to provide you with the latest and most informative content<br>
          about the intersection of technology and education.
        </P>
        <div class="home-btn">
          <button class="main-btn left">
            <a href="/about">ABOUT US</a>
          </button>
          <button class="main-btn right">
            <a href="/register">GET STARTED</a>
          </button>
        </div>
      </div>
    </div>

    <div class="statements container">
      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <div class="d-flex justify-content-center align-items-center">
            <i class="fa fa-bullseye" style="font-size: 50px; color: rgb(233, 107, 34)"></i>
          </div>
          <h3 class="text-center mt-4">Our Mission</h3>
          <p class="text-center">
            Lorem ipsum, dolor sit amet consectetur adipisicing
            elit. Dolores nam deserunt quos optio sapiente.
          </p>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="d-flex justify-content-center align-items-center">
            <i class="fa fa-key" style="font-size: 50px; color:rgb(233, 107, 34);"></i>
          </div>
          <h3 class="text-center mt-4">Our Core Values</h3>
          <ul class="text-center">
            <li>Excellence</li>
            <li>Integrity</li>
            <li>Respect</li>
            <li>Diversity</li>
            <li>Innovation</li>
            <li>Leadership</li>
          </ul>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="d-flex justify-content-center align-items-center">
            <i class="fa fa-eye" style="font-size: 50px; color: rgb(233, 107, 34)"></i>
          </div>
          <h3 class="text-center mt-4">Our Vision</h3>
          <p class="text-center mt-2">
            To become regional leader in consultancy, innovative
            market research andadvanced analytical solutions.
          </p>
        </div>
      </div>
    </div>

    <div class="featured-courses">
      <div class="container">  
        <h2 class="mb-5 pt-5 featured-title">Featured Courses</h2>
        <div class="row">
          <% if (courses.length > 0) { %>
            <% courses.forEach((course) => { %>
              <div class="single-course col-lg-4 col-md-6 mb-5">
                <div class="card">
                  <img src="<%= course.img %>" class="card-img-top" alt="..." width="100%" height="225">
                  <div class="card-body course-content">
                    <h4 class="card-title fw-bold">
                      <%= course.title %>
                    </h4>
                    <p class="card-text">
                      <%= course.desc.substring(0, 150) %>
                    </p>
                    <div class="row mt-3">
                      <a href="/register" class="col btn btn-primary">Get Started</a>
                    </div>
                  </div>
                </div>
              </div>
              <% }) %>
              <% } else { %>
                <div style="margin: auto;">There are no courses to display...</div>
              <% } %>
        </div>
      </div>
    </div>

    <div class="contact">
      <h2>Contact Us</h2>
      <div class="contact-wrapper">
        <div class="left">
          <form action="/contact" method="post" class="contact-Form">
            <h3>Send us a message</h3>
            <div class="form-group">  
              <label for="name">Name<span style="color: red;">*</span></label>
              <br>
              <input class="form-control" type="text" id="name" name="name" placeholder="eg Jon Doe">
            </div>
            <div class="form-group">  
              <label for="email">Email<span style="color: red;">*</span></label>
              <br>
              <input class="form-control" type="email" id="email" name="email" placeholder="eg jondoe@gmail.com">
            </div>
            <div class="form-group">
              <label for="subject">Subject<span style="color: red;">*</span></label>
              <br>
              <input class="form-control" type="text" id="subject" name="subject">
            </div>
            <div class="form-group">
              <label for="message">Message<span style="color: red;">*</span></label>
              <br>
              <textarea class="form-control" cols="7" rows="5" id="message" name="message"></textarea>
            </div>
            <br>
            <!-- <button type="submit">Submit</button> -->
            <input class="btn btn-primary btn-adjust" type="submit" value="Submit">
          </form>
        </div>
        <div class="right">
          <h3>Get in touch</h3>
          <i class="fa fa-phone-square"></i>
          <span>+256779113920</span>
          <br>
          <i class="fa fa-map-marker"></i>
          <span>Kampala, Uganda</span>
          <br>
          <i class="fa fa-envelope"></i>
          <span>usetech.go@gmail.com</span>
        </div>
      </div>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>

  <script>
    const contactForm = document.querySelector('.contact-Form');
    let name = document.getElementById('name');
    let email = document.getElementById('email');
    let subject = document.getElementById('subject');
    let message = document.getElementById('message');

    contactForm.addEventListener('submit', (e) => {
      e.preventDefault();

      let formData = {
        name: name.value,
        email: email.value,
        subject: subject.value,
        message: message.value
      }

      // console.log(formData);
      let xhr = new XMLHttpRequest();
      xhr.open('POST', '/contact');
      xhr.setRequestHeader('content-type', 'application/json');
      xhr.onload = () => {
        console.log(xhr.responseText);
        if(xhr.responseText == 'success') {
          alert('Email sent successfully!');
          name.value = '';
          email.value = '';
          subject.value = '';
          message.value = '';
        } else {
          alert('something went wrong!');
        }
      }

      xhr.send(JSON.stringify(formData));
    })
  </script>
</html>
