<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    <div class="blog-c">

        <div id="blog-carousel" class="carousel slide d-flex justify-content-center align-items-center" data-bs-ride="carousel" style="height: 75vh;">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="text-center">
                <h3 class="intro blog-header fs-*"><%= post.title %></h3>
              </div>
            </div>
            <div class="carousel-item">
              <div class="text-center">
                <p class="post-text fs-*">
                  <%= post.content.substring(0, 120) + "..." %>
                  <a href="#post" style="color: black;">Read more.</a>
                </p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#blog-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#blog-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    <div class="container">
        <div id="post" class="posts-card">
                <div>
                  <img src="<%= post.imageUrl %>" alt="Post Image" class="img-responsive">
                </div>
                <span class="text-muted">
                    <%= post.createdAt.toDateString() %>
                </span>
                <h2 class="title-text">
                    <%= post.title %>
                </h2>
                <div class="desc mt-2">
                    <%= post.content %>
                </div>
            </div>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>