<%- include('./partials/head.ejs') %>

<body class="course-body">
    <div class="bg-light">
        <nav class="container navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="">
                <img class="logo mylogo" src="/images/gousetech.png" alt="logo" width="75">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex nav-item mx-auto" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search...">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                </form>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/courses">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container pb-4">
        <div class="row pt-4">
            <div class="col-lg-8 col-md-12 col-sm-12 course-section">
                <% if (url) { %>
                    <div class="embed-responsive embed-responsive-16by9 pt-5">
                        <video 
                            class="embed-responsive-item"
                            src="<%= url %>" 
                            controls 
                            width="100%" 
                            height="400" 
                            allowfullscreen 
                            controlsList="nodownload" 
                            oncontextmenu="return false;">
                        </video>
                    </div>
                    <h3 class="py-5"><%= title %></h3>
                    <p class="">
                        <%= description %>
                    </p>
                  <% } else { %>
                    <h1>Error</h1>
                    <p><%= error %></p>
                  <% } %>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="pt-5 author-section">
                    <div class="card">
                        <h3 class="text-center fw-bold pt-5 pb-2">ABOUT THE AUTHOR</h3>
                        <hr>
                        <h4 class="p-4 pb-0">
                            <%= author %>
                        </h4>
                        <p class="p-4">
                            <%= abtAuthor %>
                        </p>
                        <p class="p-4 fw-bold">
                            <%= email %>
                        </p>
                        <div class="social px-3">
                            <span class="fw-bold">
                                <a href="<%= twitter %>">twitter</a>
                            </span>
                            <span class="fw-bold">
                                <a href="<%= linkedin %>">linkedin</a>
                            </span>
                            <span class="fw-bold">
                                <a href="<%= facebook %>">facebook</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
 