<%- include('./partials/head.ejs') %>

<body class="course-body">
    <div class="bg-light">
        <nav class="container navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="">
                <img class="logo mylogo" src="/images/go.png" alt="logo" width="75">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex nav-item mx-auto" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search...">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                </form>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/courses">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container pb-4">
        <div class="row pt-4">
            <div class="col-lg-8 col-sm-12">

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" width="100%" height="400" allowfullscreen></iframe>
                </div>
                <h2 class="title-text fw-bold mt-5">
                    <%= course.title %>
                </h2>
                <div id="desc" class="desc mt-2 mb-3">
                    <%= course.desc %>
                </div>
                <hr>
                <h3 id="author" class="author mt-5 mb-3">
                    <%= course.author %>
                </h3>
                <div id="abtAuthor" class="abtAuthor mt-2 mb-3">
                    <%= course.abtAuthor %>
                </div>
                <!-- <div class="comment-section">
                    <form action="/comment" method="post" class="pb-5">
                        <legend>
                            <div class="comment-header">
                                <i class="fa fa-comment"></i>
                                <span>Comments<span>
                            </div>
                        </legend>
                        <div class="form-group pb-4">
                            <textarea class="form-control" name="content" cols="30" rows="5" placeholder="add comment"></textarea>
                        </div>
                        <input type="submit" value="Comment" class="btn btn-primary">
                    </form>
                    <div class="container comments">
                        <% if (comments.length > 0) { %>
                            <% comments.forEach((comment) => { %>
                                <div class="py-3">
                                    <%= comment.content %>
                                </div>
                                <hr class="w-30">
                            <% }) %>
                        <% } else { %>
                            <span class="text-center fw-bold" style="font-size: 14px;">No comment yet.</span>
                        <% } %>
                    </div>
                </div> -->
            </div>
            <div class="col-lg-4 px-3">
                <div class="title-text">
                    <h3 class="mt-2 mb-2 fw-bold">Recent Courses</h3>
                    <div class="latest-courses">
                        <% if (courses.length > 0) { %>
                            <% courses.forEach((course) => { %>
                                <div class="single-course mb-2">
                                    <div class="card">
                                        <img src="<%= course.img %>" class="card-img-top" alt="..." width="100%" height="225">
                                        <div class="card-body course-content">
                                            <h4 class="card-title fw-bold">
                                                <%= course.title %>
                                            </h4>
                                            <p class="card-text">
                                                <%= course.desc.substring(0, 150) + "..." %>
                                            </p>
                                            <div class="row mt-3">
                                                <span class="date col mt-3">
                                                    <%= course.createdAt.toDateString() %>
                                                </span>
                                                <a href="/courses/<%= course._id %>" class="col btn btn-primary">View Course</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        <% } else { %>
                        <div style="margin: auto;">There are no courses to display...</div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
 