<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/admin-navbar.ejs') %>

    <main class="admin">
        <h3 class="dashboard mt-4 mb-2">Update Course</h3>
        <hr class="border">
        <div class="admin-wrapper">
            <div class="course-wrapper">
                <form action="/courses/<%= filename %>?_method=PUT" method="POST" class="course-form mb-5">
                    <label for="video" class="fw-bold">Upload Course Video:</label>
                    <input class="form-control" type="file" name="video" id="video" value="<%= video %>">
                    <label for="title" class="fw-bold">Add Course Title:</label>
                    <input class="form-control" type="text" name="title" id="title" value="<%= title %>">
                    <label for="desc" class="fw-bold">Course Description:</label>
                    <textarea class="form-control" name="desc" id="desc" cols="30" rows="15"><%= desc %></textarea>
                    <label for="author" class="fw-bold">Author's Name:</label>
                    <input class="form-control" type="text" name="author" id="author" value="<%= author %>">
                    <label for="abtAuthor" class="fw-bold">About the Author:</label>
                    <textarea class="form-control" name="abtAuthor" id="abtAuthor" cols="20" rows="10"><%= abtAuthor %></textarea>
                    <label for="email">Email:</label>
                    <input class="form-control" type="email" name="email" id="email" value="<%= email %>">
                    <label for="twitter">Twitter Url:</label>
                    <input class="form-control" type="url" name="twitter" id="twitter" value="<%= twitter %>">
                    <label for="linkedin">LinkedIn Url:</label>
                    <input class="form-control" type="url" name="linkedin" id="linkedin" value="<%= linkedin %>">
                    <label for="facebook">Facebook Url:</label>
                    <input class="form-control" type="url" name="facebook" id="facebook" value="<%= facebook %>">
                    <button class="btn btn-primary btn-lg p-2" type="submit">Update Course</button>
                </form>
            </div>
        </div>
    </main>

</body>