<!DOCTYPE html>
<html lang="en">
    <%- include('../../partials/head.ejs') %>

    <body>
        <%- include('../../partials/admin-navbar.ejs') %>
        <div class="admin">
            <h3 class="dashboard mt-4 mb-2">Access & Update All Courses</h3>
            <hr class="border">
            <div class="all-courses">
                <div class="course-wrapper row">
                    <% courses.forEach((course) => { %>
                        <div class="col-lg-4 col-md-6 col-sm-12 p-2">
                            <div class="card">
                                <div class="img-div">
                                    <img 
                                        src="/uploads/<%= course.img %>" 
                                        width="100%"
                                        height="225"
                                    >
                                </div>
                                <span class="p-2">
                                    <%= course.createdAt %>
                                </span>
                                <div class="">
                                    <h3 class="title-text fw-bold p-2 pb-3">
                                        <%= course.title.substring(0, 30) + '...' %>
                                    </h3>
                                    <div class="desc p-2">
                                        <%= course.description.substring(0, 200) + '......' %>
                                    </div>
                                </div>
                                <span class="pb-3">
                                    <a href="/api/course/admin/<%= course._id %>">
                                        <button class="btn btn-lg btn-primary p-2">View Course</button>
                                    </a>
                                </span>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </body>
</html>