<%- include('../../partials/head.ejs') %>

<body>
    <%- include('../../partials/admin-navbar.ejs') %>

    <main class="admin">
        <h3 class="dashboard mt-4 mb-2">Update Course</h3>
        <hr class="border">
        <div class="admin-wrapper">
            <div class="course-wrapper">
                <form 
                    action="/api/course/admin/update/<%= course._id %>"
                    method="POST"
                    enctype="multipart/form-data"
                    class="course-form mb-5"
                >
                    <label 
                        for="title" 
                        class="fw-bold"
                    >
                        Add Course Title:
                    </label>
                    <input 
                        class="form-control"
                        type="text" 
                        name="title" 
                        id="title" 
                        value="<%= course.title %>"
                    >
                    <input 
                        class="form-control" 
                        type="file" 
                        name="img" 
                        id="img" 
                        multiple="multiple" 
                        accept="image/*"
                    >
                    <label 
                        for="description" 
                        class="fw-bold"
                    >
                        Course Description:
                    </label>
                    <textarea 
                        class="form-control" 
                        name="description" 
                        id="description" 
                        cols="30" 
                        rows="15"
                    >
                        <%= course.description %>
                    </textarea>
                    <label 
                        for="author" 
                        class="fw-bold"
                    >
                        Author's Name:
                    </label>
                    <input 
                        class="form-control"
                        type="text" 
                        name="author" 
                        id="author" 
                        value="<%= course.author %>"
                    >
                    <button 
                        class="btn btn-primary btn-lg p-2" 
                        type="submit"
                    >
                        Update Course
                    </button>
                </form>
            </div>
        </div>
    </main>
</body>
