<%- include('../partials/head.ejs') %>

<body class="course-body">
    <%- include('../partials/course-navbar.ejs') %>
    <div class="bg-color p-5" width="100%">
        <h2 class="pt-5 pb-2">
            <%= course.title %>
        </h2>
        <p class="">
            <%= course.description %>
        </p>
    </div>
    <div class="container pb-4">
        <div class="row pt-4">
            <div class="col-lg-8 col-md-12 col-sm-12 course-section">
                <div class="pt-4">
                    <% if (course.lessons.length > 0) { %>
                        <% course.lessons.forEach((lesson) => { %>
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="/api/course/<%= course._id %>/lesson/<%= lesson._id %>">
                                        <h4>
                                            <%= lesson.title %>
                                        </h4>
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a href="/api/course/<%= course._id %>/lesson/<%= lesson._id %>/notes">
                                        <h5>
                                            Notes
                                        </h5>
                                    </a>
                                </div>
                                <hr>
                            </div>
                        <% }) %>
                    <% } else { %>
                        <div style="margin: auto;" class="py-5">
                            <h2 class="py-5">
                                There are no Lessons to display...
                            </h2>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-lg-4 bg-color">
                <div></div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>

</body>
 